body {
  background: #e0e0e0;
}

#top {
  text-align: center;
  background: white;
  color: #045a8d;

  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;

  margin-bottom: 5px;

  box-shadow: 0 2px 4px #6664;
}

#first-row{
  align-items: stretch;
}


#net-graph-div{
  flex:3;
}

#filter-div{
  flex:1
}

#second-row{
  align-items: stretch;
}

#sentences-div{
  flex:1;
}

#pos-graph-div{
  flex: 0 0 500px;
}

.view{
  margin: 5px;

  background: white;
  box-shadow: 4px 2px 4px #6664;
}

text {
  font-family: sans-serif;
  pointer-events: none;
}

.links {
  stroke: #c1c1c1;
  pointer-events: all;
} 

.node circle {
  pointer-events: all;
  stroke: #777;
  stroke-width: 1px;
}

	div.tooltip {
  position: absolute;
  background-color: white;
  max-width: 150px;
  height:auto ;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
}

.search-container {
  float: right;
}
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background: #eeeeee;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #bbbbbb;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
  

#charts {
  padding: 10px 0;
}

.chart {
  display: block;
  height: 151px;
  margin-bottom: 20px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.selection {
  fill: steelblue;
  fill-opacity: .125;
}

.brush-handle {
    fill: #eee;
    stroke: #666;
}

#score-chart {
  width: 150px;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}